
/* comments */
body{
 background-color: rgb(253, 253, 255);  
}

h1{
    background-color: rgb(228, 218, 207);
    color: rgb(41, 37, 37);
}
h1.heading{
   padding-left: 50%;
    border: 3px solid red;
    border-radius: 10px;
    border-top-right-radius:50px ;
    border-top-left-radius:50px ;
    border-bottom-right-radius:50px ;
    border-bottom-left-radius:50px ;


}
p.heading
{
    color: azure;
   
}
table, th, td{
    border: 3px solid;
    
    border-color: yellowgreen;
    border-collapse: collapse;

}
th{
    height: 50px;
    width: 70px;
}
td{
    text-align: center;
}
tr:hover{
    background-color: mediumturquoise;
    cursor: pointer;
}
/*
th:hover , td:hover{
    background-color: lightblue;
}
*/

.dropdown{
    background-color: rgb(69, 37, 145);
    color: white;
    
    height: 10%;
    width: 20%;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: lightgray;
    color: white;   
}

.dropdown-menu a{
    color: rgb(17, 1, 1);
    text-justify: auto;

    display: block;
    
}